@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-image: url('/css/Background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="text-center" ">
        <h2 class="display-4">Welcome to the Music Shop!"</h2>
    </div>
</body>